<%- include('PARTIALS/header.EJS'); -%>
<h1>ABOUT</h1>
<p><%= aboutContent%></p>
<p>Hobbies</p>
<ul>
    <li>Coding</li>
    <li>Developement</li>
    <li>Eating club sandwich</li>
</ul>
<%- include('PARTIALS/footer.EJS'); -%>