<%- include('PARTIALS/header.EJS'); -%>
<h1>CONTACTS</h1>
<P><%=contactContent%></P>
<ul>
    <li>Phone Number:8777763682</li>
    <li>Email: sayonsom12b@gmail.com</li>
</ul>
<%- include('PARTIALS/footer.EJS'); -%>
<